name: npm publish dev

on:
  release:
    types: [prereleased]
    
jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/
      - run: yarn install
      - run: yarn lint
      - run: yarn build
      - run: yarn publish --tag dev
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
